.channelUpdate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  width: 100%;
}

.channelUpdate-box {
  width: 100%;
  max-width: 1200px;

  padding: 50px;
  background-color: #f4f4f4;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 150px;
}
.channelUpdate-channelName {
  font-size: 2rem;
  margin-bottom: 20px;
}
.tagList {
  font-size: 2rem;
  padding: 20px;
}
.tagInfo {
  font-size: 1.3rem;
  padding-left: 20px;
  line-height: 1.5;
}
.channelUpdate-tagList {
  border: 1px solid #cdcdcd;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}
.channelUpdate-tag {
  padding: 5px 8px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
}
.cancle-ikon {
  font-size: 20px;
  margin-left: 10px;
}
.channelUpdate-allTag {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
}
.channelUpdate-addTag {
  display: flex;
  justify-content: center;
  padding: 30px;
  input {
    font-size: 25px;
  }
  button {
    margin-left: 10px;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    background-color: #d5d5d5;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #c4c4c4;
    }
  }
}
.cancle-ikon:hover {
  color: red;
  cursor: pointer;
}
.channelUpdate-img {
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 15px;
  width: 100%;
  padding: 20px;
}
.channelUpdate-imgUpdate {
  font-size: 2rem;
  padding: 20px;
}
.channelUpdate-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.channelUpdate-right {
  width: 100%;
}
.channelUpdate-left {
  font-size: 2rem;
  line-height: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 8px 4px;
    border-radius: 20px;
    color: white;
    font-size: 1.3rem;
    width: 20%;
    margin: 10px;
  }
  div:hover {
    color: red;
    cursor: pointer;
  }
}
.channelUpdate-header {
  display: flex;
  align-items: center;
}
.channelUpdate-link {
  padding: 10px;
  background-color: black;
  margin-bottom: 20px;
  margin-left: 20px;
  a {
    color: white;
  }
  border-radius: 10px;
}
.channelUpdate-text {
  font-size: 2rem;
  margin-bottom: 20px;
}
.channelUpdate-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.channelUpdate-input {
  width: 35%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  input {
    padding: 3px;
    margin: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
  }
  button {
    padding: 5px 8px;
    cursor: pointer;
    background-color: #d5d5d5;
    border: none;
    border-radius: 5px;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    &:hover {
      background-color: #c4c4c4;
    }
  }
}
.channelUpdate-buttones {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.channelUpdate-button-option {
  width: 25%;
  display: flex;
  justify-content: space-around;
  button {
    padding: 6px 10px;
    cursor: pointer;
    background-color: #d5d5d5;
    border: none;
    border-radius: 5px;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    &:hover {
      background-color: #c4c4c4;
    }
  }
}
#change-channel-img {
  display: none;
}
.channelUpdate-channel-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid #cdcdcd;
}

.channelUpdate-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      .channelUpdate-channel-img {
        opacity: 0.3;
      }
    }
  }
}
.channelUpdate-ikon {
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    font-size: 40px;
    position: absolute;
    opacity: 0;
  }
  &:hover {
    svg {
      opacity: 1;
    }
  }
}
#is-channel-chart {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  border: 1px solid #cdcdcd;
}
.channelUpdate-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px 30px 30px;
  input {
    font-size: 25px;
  }
  button {
    width: 61.27px;
    height: 35px;
    margin-left: 10px;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    background-color: #d5d5d5;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #c4c4c4;
    }
  }
}
.channelUpdate-emailCode {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.channelUpdate-delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
