.channel-detail-box {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.channel-box {
  width: 100%;
  max-width: 1200px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .channel-header {
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .channel-header-left {
      display: flex;
      a {
        font-size: 2rem;
        font-weight: bold;
      }

      .channel-img {
        margin-right: 10px;
        width: 80px;
        height: 80px;
        background-color: white;
        border-radius: 50%;
      }
      .channel-header-left-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .channel-header-right {
      display: flex;
      align-items: center;
      justify-content: center;
      .channel-header-auth {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          margin-right: 8px;
          font-size: 1.2rem;
          font-weight: bold;
        }
        .write-btn {
          background-color: black;
          padding: 5px 8px;
          border-radius: 5px;
          color: white;
          font-size: 1.2rem;
          font-weight: bold;
          margin: 5px;
          &:hover {
            background-color: #555;
          }
        }
        svg {
          cursor: pointer;
        }
      }
    }
  }
  .channel-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.tag-box {
  display: flex;
  justify-content: flex-start;

  width: 100%;
  background-color: rgb(168, 168, 168);

  .tag {
    text-wrap: nowrap;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 5px;
    background-color: #f5f5f5;
  }
  .selected-tag {
    background-color: black;
    color: white;
  }
}
.none-post {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.header-tag {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title {
  border-left: 0.5px solid #acacac;
  border-right: 0.5px solid #acacac;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-auth {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-day {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid #acacac;
  border-right: 0.5px solid #acacac;
}
.header-like,
.header-view,
.header-comment {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-like {
  border-left: 0.5px solid #acacac;
  border-right: 0.5px solid #acacac;
}
.header-comment {
  padding-right: 5px;
}
.page-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-wrap: nowrap;
  .paging {
    border-top: 0.5px solid #acacac;
  }
  .is-all {
    display: flex;
    background-color: #000;
    color: white;
    padding: 5px 10px;
    align-self: center;
    border-radius: 13px;
    margin: 0px 10px;
  }
  .is-best {
    display: flex;
    background-color: red;
    color: white;
    padding: 5px 10px;
    align-self: center;
    border-radius: 13px;
    margin: 0px 10px;
  }
}
.post-box {
  padding: 0.5rem 1rem 1rem 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  background: #f4f4f4;
  width: 100%;
  height: 600px;

  .post-box-header {
    border-top: 0.5px solid #acacac;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #acacac;
    padding: 5px;
    .header-1 {
      display: flex;
    }
  }
}
