.none-comment {
  color: #000000;
  font-weight: bold;
}

.reply-add-status {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-left: 30px;
}
.reply-add-status button {
  border-radius: 15px;
  padding: 10px;
  background-color: #ddd;
  margin: 10px 5px;
}
.comment-list {
  margin: 20px 0;
  margin-left: -40px;
}
.comment-content-box {
  margin-left: 40px;
  border-left: 0.5px solid #454545;
}
.comment-content,
.comment-content-writer,
.comment-content-my {
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: #ddd;
  border: 0.5px solid;
  margin-bottom: 5px;
  border-left: none;
  .comment-text {
    padding-left: 50px;
  }
  .btn-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      cursor: pointer;
      padding: 2px 5px;
      border: none;
      border-radius: 10px;
      margin: 0px 3px;
    }
  }
}
.re-comment-form-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  .re-comment-form {
    width: 100%;
    display: flex;
    padding: 10px;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
    .re-comment-add {
      padding-left: 50px;
      width: 80%;
      height: 40px;
    }
    .re-comment-add-status {
      display: flex;
      justify-content: flex-end;
      .re-comment-submit {
        text-wrap: nowrap;
        background-color: #ddd;
        cursor: pointer;
        padding: 5px 10px;
        font-weight: bold;
        font-size: 1.2rem;
        border: none;
        border-radius: 10px;
        margin: 0px 3px;
      }
    }
  }
}
.edit-comment-form {
  display: flex;
  align-items: center;
  .edit-comment-add {
    padding-left: 20px;
    width: 80%;
    height: 30px;
  }
  button {
    text-wrap: nowrap;
    background-color: #eee;
    cursor: pointer;
    padding: 2px 5px;
    border: none;
    border-radius: 20px;
    margin: 0px 3px;
  }
}
.comment-content-writer {
  .user-profile-box {
    .user-profile {
      .user-nickname-box {
        .user-profile-nickname {
          display: inline;
          box-shadow: inset 0 -10px 0 #90f87b;
        }
      }
    }
  }
}
.comment-content-my {
  .user-profile-box {
    .user-profile {
      .user-nickname-box {
        .user-profile-nickname {
          display: inline;
          box-shadow: inset 0 -10px 0 #f7f078;
        }
      }
    }
  }
}
