@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.header {
  font-family: "Pretendard Variable";
  width: 100%;
  background-color: #000;
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.header-left,
.header-right,
.header-center {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-wrap: nowrap;
}
.header-left {
  justify-content: flex-end;
  width: 80%;
  a {
    font-size: 2.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: white;
    width: 100%;
    max-width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

[class^="header-center-"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.channel-menu,
.info {
  display: flex;
  padding: 0 5px 0 5px;
  align-items: center;
  font-weight: bolder;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;

  &:hover {
    color: #ff0000;
  }
}

.header-center-search {
  height: 65%;
  border-radius: 20px;
  background-color: #e5e5e5;
  #channel-search {
    background-color: #e5e5e5;
    width: 40px;
    height: 100%;
    padding: 0px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    svg {
      height: 25px;
      width: 25px;
    }
  }
  input {
    z-index: 2;
    width: 100%;
    padding: 0px;
    padding-left: 15px;
    height: 100%;
    border: none;
    border-radius: 20px 0 0 20px;

    &::placeholder {
      font-weight: bold;
    }
    &:focus {
      outline: 2px solid #f05650;
    }
  }
}
.hiden-btn {
  background-color: #e5e5e5;
  width: 35px;
  height: 35px;
  padding: 0px;
  border: none;
  display: none;
  border-radius: 100%;
  cursor: pointer;
  svg {
    height: 25px;
    width: 25px;
  }
}

@media screen and (min-width: 100px) {
  .header-center-search input {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .header-center-search {
    display: none;
  }
  .hiden-btn {
    display: block;
    svg {
      width: 40px;
      height: 80%;
      cursor: pointer;
      border-radius: 100%;
    }
  }
}
