.main {
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;
  background-color: white;
  padding-top: 55px;
  width: 100%;
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    width: 100%;

    .channel-list {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      background: white;
      .channel-name {
        display: flex;
        font-size: 2rem;
        color: #000;
        font-weight: 900;
        margin-bottom: 1rem;
      }
    }
  }
}
