.message-container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;
}
.message-big-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.message-header {
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  background-color: #d5d5d5;
}
.message-list-box {
  padding: 6px;
  width: 1200px;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  .messages-right {
    width: 100%;
    flex-grow: 1;
  }
}
.side-box {
  display: flex;
  height: 600px;
  width: 150px;
  margin-right: 5px;
  border-right: 0.5px solid #acacac;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  .messages-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;

    .writer {
      display: flex;
      align-items: center;
      justify-content: center;
      text-wrap: nowrap;
      padding: 8px 4px;
      font-size: 0.9rem;
      border: none;
      border-radius: 20px;
      background-color: #d5d5d5;
      color: black;
      cursor: pointer;
      &:hover {
        background-color: #868686;
      }
    }

    .messages-type {
      display: flex;
      justify-content: center;
      align-items: center;
      text-wrap: nowrap;
      padding: 8px 4px;
      border-radius: 20px;
      font-size: 0.9rem;
      background-color: #d5d5d5;
      color: black;
      cursor: pointer;
      &:hover {
        background-color: #868686;
      }
    }
    .messages-selected-type {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      padding: 8px 4px;
      border-radius: 20px;
      color: white;
      font-size: 0.9rem;
    }
  }
  .side-bottom {
  }
}
.message-user {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  .user-left {
    padding-right: 20px;
  }
}
.is-open {
  margin-left: 10px;
}
.selected-message-main,
.message-main {
  height: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  border-bottom: 0.5px solid #acacac;
  .message-left {
    flex-grow: 1;
    display: flex;

    input {
      cursor: pointer;
    }
  }
  .message-link {
    cursor: pointer;

    align-self: center;
    display: flex;
    justify-content: space-between;

    padding: 5px 15px;
    width: 100%;
    .message-center {
      align-self: center;
      width: 525px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .message-right {
    justify-content: space-between;
    align-items: center;
    width: 450px;
    display: flex;
    .maessage-right-right {
      display: flex;
      align-items: center;
    }
  }
}
.message-main-box {
  width: 100%;
  .message-main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0px;
    border-bottom: 0.5px solid #acacac;
    text-wrap: nowrap;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
      "Malgun Gothic", "맑은 고딕", arial, 굴림, Gulim, sans-serif;
    color: black;

    .messages-header-time {
      width: 90px;
      padding-left: 30px;

      border-left: 0.5px solid #acacac;
    }
    .message-main-header-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 550px;
      .messages-header-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        border-left: 0.5px solid #acacac;
        border-right: 0.5px solid #acacac;
      }
      .check-box {
        padding-right: 5px;
        display: flex;
        align-items: center;
        .all-check {
          cursor: pointer;
        }
      }
    }
  }
}

.messages-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;
  padding-top: 5px;
  width: 100%;
  height: 550px;
  .messages-header {
    display: flex;
    .messages-type {
      padding: 5px;
      border-radius: 20px;
      background-color: beige;
      margin: 5px;
    }
  }
}
.none-message-box {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  background: #f4f4f4;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  div {
    color: #413f3fb9;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #413f3fb9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
  }
  p {
    color: #413f3fb9;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.messages-page-btn {
  .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    width: 50px;
    padding: 8px 4px;
    border-radius: 20px;
    font-size: 0.9rem;
    background-color: #d5d5d5;
    color: black;
    cursor: pointer;
    margin-bottom: 10px;
    &:hover {
      background-color: #868686;
    }
  }
  .paging {
    border-top: 0.5px solid #acacac;
  }
}
.selected-message-main {
  background-color: #868686;
}
