.message-detail-box {
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;

  width: 500px;
  height: 320px;
  position: fixed;
  top: 25%;
  left: 40%;
  border-radius: 8px;
  padding: 20px;
  color: #7e8e9f;
  opacity: 1;
  z-index: 20;
  border: 1px solid;
  background-color: #f4f4f4;

  .message-detail-body {
    .message-user-box {
      padding: 5px;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #cdcdcd;
      margin-bottom: 10px;
      .message-to-user,
      .message-from-user {
        display: flex;
        align-items: center;

        .user-profile-box {
          padding-left: 8px;
        }
      }
    }

    button {
      align-items: center;
      height: 2.5rem;
      width: 90%;
      border-radius: 6px;
      border: 1px solid #f7f8f9;
      background-color: #f7f8f9;
      margin-bottom: 1rem;
    }
    .message-detail-content {
      overflow-y: scroll;

      background-color: white;
      height: 121px;

      border-radius: 5px;
      padding: 3px;
    }
  }
  .message-detail-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    .message-resend {
      cursor: pointer;
      border-radius: 5px;
      background-color: black;
      color: white;
      padding: 5px 8px;
      &:hover {
        background-color: #444;
      }
    }
  }

  .message-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    .message-button-type {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
    .message-type {
      font-size: 2rem;
      color: black;
      width: 50%;
      display: flex;
      justify-content: center;
    }
    .header-balance {
      width: 32px;
    }

    width: 100%;
    .close {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 6px;
      border: 1px solid #f7f8f9;
      background-color: #d5d5d5;
    }
    h3 {
      font-weight: bold;
      font-size: 1rem;
      color: black;
    }
    .balance {
      width: 2rem;
      height: 2rem;
    }
  }
}
