.messages-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;
  padding-top: 60px;
  width: 100%;
  .messages-header {
    display: flex;
    .messages-type {
      padding: 5px;
      border-radius: 20px;
      background-color: beige;
      margin: 5px;
    }
  }
}
