.message-box {
  .message-main {
    .message-link {
      cursor: pointer;
      font-weight: 1.5rem;
      background-color: antiquewhite;
    }
  }
  .message-user {
    display: flex;
    align-items: center;
  }
}
