.message-detail-box {
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;
  background-color: #ffffff;
  width: 400px;
  height: 400px;
  position: fixed;
  top: 25%;
  left: 40%;
  border-radius: 8px;
  padding: 20px;
  color: #7e8e9f;
  opacity: 1;
  z-index: 20;
  border: 1px solid;
  .message-detail-body {
    button {
      align-items: center;
      height: 2.5rem;
      width: 90%;
      border-radius: 6px;
      border: 1px solid #f7f8f9;
      background-color: #f7f8f9;
      margin-bottom: 1rem;
    }
  }

  .message-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
    .close {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 6px;
      border: 1px solid #f7f8f9;
      background-color: #f7f8f9;
    }
    h3 {
      font-weight: bold;
      font-size: 1.5rem;
      color: black;
    }
    .balance {
      width: 2rem;
      height: 2rem;
    }
  }
}
