@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
#img-file {
  display: none;
}
.main-box {
  .info-box {
    background-color: #f4f4f4;
    height: 550px;
    font-family: "Pretendard Variable";
    font-style: normal;
  }
  .info-change-header {
    text-align: center;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 10px;
    padding: 5px;
    h1 {
      font-size: 3rem;
      font-weight: bold;
      align-self: center;
      margin: 10px;
    }
  }
  .info-change-main {
    width: 1200px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-start;

    .info-change-left {
      padding: 10px;
      padding-top: 20px;
      height: 100%;
      width: 700px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .management-channel-title {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 5px;
      }
      .management-channel-list {
        background-color: white;
        padding: 8px;
        border: 1px solid #cdcdcd;
        margin-bottom: 3px;
      }
      #create-channel {
        width: 100px;
      }
    }
    .info-change-right {
      border-left: 1px solid #cdcdcd;
      width: 100%;
      display: flex;
      padding: 10px;
      flex-direction: column;
    }

    .submit-span {
      color: red;
      padding-left: 10px;
    }

    .change-top-box {
      display: flex;
      justify-content: space-between;

      padding: 10px;
      padding-bottom: 50px;
      .change-img-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .user-img-box {
          right: 50px;
          bottom: 150px;
          align-self: center;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          border-radius: 50%;
          border: 1px solid black;
          width: 102px;
          height: 102px;
          cursor: pointer;
          &:hover {
            #preview-img {
              opacity: 0.3;
            }
          }

          #preview-img {
            border-radius: 50%;
            height: 100px;
            width: 100px;
          }
          .user-img-ikon {
            width: 100px;
            height: 100px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              font-size: 40px;
              position: absolute;
              opacity: 0;
            }
            &:hover {
              svg {
                opacity: 1;
              }
            }
          }
        }
        .info-change-text {
          padding: 5px;
        }
      }
      .change-top-right {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .privte-box {
          display: flex;
          justify-content: space-between;
        }

        .change-password {
          border: 1px solid;
        }
        .update-btn-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .change-bottom-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      .change-input-box {
        padding: 5px;
        border-top: 0.5px solid #cdcdcd;
        width: 800px;
        display: flex;
        align-items: center;
        label {
          width: 200px;
        }
        .change-input-text {
          padding: 5px;
          padding-left: 10px;
        }
        .change-submit-box {
          display: flex;
          justify-content: flex-end;
          flex-grow: 1;
        }
      }
      .info-change-text {
        padding: 5px;
        margin-left: 10px;
      }
    }
  }
}
.update-btn {
  cursor: pointer;
  background-color: black;
  color: white;

  justify-content: center;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  &:hover {
    background-color: #444444;
  }
}

.email-auth {
  border: 1px solid black;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;
  width: 400px;
  height: 220px;
  padding: 20px;
  position: fixed;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  top: 25%;
  right: 40%;
  display: flex;
  .code-header {
    text-align: center;
    padding: 10px;
    border-bottom: 0.5px solid #cdcdcd;
    margin-bottom: 5px;
  }
  p {
    padding-top: 5px;
    text-align: center;
  }
  .code-input-box {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 20px;
    border-bottom: 0.5px solid #cdcdcd;
    .code-input {
      width: 70%;
      padding: 5px;
      padding-left: 10px;
    }
  }

  .code-btn-box {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    button {
      margin: 5px;
      align-self: flex-end;
      height: 30px;
    }
  }
}
