@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
#img-file {
  display: none;
}
.main-box {
  .info-change-header {
    h1 {
      font-size: 2rem;
      font-weight: bold;
      align-self: center;
      margin: 10px;
    }
  }
  .info-change-main {
    width: 1200px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .info-change-left {
      display: flex;
      flex-direction: column;
    }
    .info-change-right {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .submit-span {
      color: red;
      padding-left: 10px;
    }

    .change-input-box {
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .change-input-text {
        border-radius: 1rem;
        padding: 8px;
        width: 300px;
        border: 2px solid;
      }
    }

    .user-img-box {
      right: 50px;
      bottom: 150px;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 50%;
      border: 1px solid black;
      width: 102px;
      height: 102px;
      cursor: pointer;
      &:hover {
        border: 1px solid red;
      }
      #preview-img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
      }
      p {
        font-weight: bold;
        font-size: 1rem;
      }
    }
    #btn-box {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      button {
        background-color: red;
        &:hover {
          background-color: #ff000086;
          color: white;
        }
      }
    }
  }
  .info-change-text {
    display: flex;
    border: 1px solid;
  }
}
