.main-channel-box {
  max-width: 600px;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  background: #f4f4f4;
  width: 100%;

  height: 100%;
  min-height: 500px;
}
.channel-box {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  background: #f4f4f4;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  min-height: 500px;

  .selected-channel-post,
  .channel-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
    border: 1px solid;
    border-radius: 15px;
    padding: 2px;
    svg {
      color: red;
      margin-right: 5px;
    }
    .channel-tag {
      text-wrap: nowrap;
      align-self: center;
      padding: 0.3rem;
      text-align: center;
      background: black;
      color: white;
      border-radius: 10px;
    }
    .post-link {
      justify-content: space-between;
      display: flex;
      align-items: center;
      width: 93%;
      text-wrap: nowrap;
      &:hover {
        .post-text {
          color: #333;
          font-weight: bold;
        }
      }
      .post-text {
        margin-left: 0.3rem;
        text-wrap: nowrap;
        font-size: 0.9rem;
        font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
          "Malgun Gothic", "맑은 고딕", arial, 굴림, Gulim, sans-serif;
        color: gray;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
      .post-end {
        display: flex;
        justify-content: flex-end;
        .comment-count {
          margin: 0 0.3rem 0 0.3rem;
        }
      }
    }
  }
}
.none-post-box {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  background: #f4f4f4;
  width: 100%;
  max-width: 600px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  div {
    color: #413f3fb9;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #413f3fb9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
  }
  p {
    color: #413f3fb9;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.post-start {
  display: flex;
  margin-left: 5px;
  width: 100%;
  justify-content: flex-start;
  span {
    display: block;
    align-self: center;
  }
  .post-ather {
    color: #333;
    font-size: 0.6rem;
    margin-right: 10px;
  }
}
.selected-channel-post {
  background-color: #acacac;
}
