.main-channel-box {
  max-width: 600px;
  padding: 1rem;
  margin: 0.5rem;
  background: #f4f4f4;
  width: 100%;
  height: 100%;
  min-height: 430px;
}
.channel-box {
  padding: 1rem;
  margin: 0.5rem;

  background: #f4f4f4;
  width: 1200px;
  height: 100%;
  min-height: 500px;
  .selected-channel-post,
  .announcement-post,
  .channel-post {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    border-bottom: 0.5px solid #acacac;
    svg {
      color: red;
      margin-right: 5px;
    }
    .channel-tag-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 60px;
      .channel-tag {
        text-wrap: nowrap;
        align-self: center;
        padding: 0.3rem;
        text-align: center;
        background: black;
        color: white;
        border-radius: 10px;
      }
    }

    .post-link {
      justify-content: space-between;
      display: flex;
      align-items: center;
      width: 540px;
      text-wrap: nowrap;
      padding-left: 50px;
      &:hover {
        .post-text {
          color: #333;
          font-weight: bold;
        }
      }
      .post-text {
        padding: 5px;
        display: block;
        width: 100%;
        max-width: 480px;
        text-wrap: nowrap;
        font-size: 0.9rem;
        font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
          "Malgun Gothic", "맑은 고딕", arial, 굴림, Gulim, sans-serif;
        color: gray;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .post-user {
      width: 223px;
      overflow: hidden;
      text-overflow: ellipsis;
      .user-profile-box {
        .user-profile {
          .user-nickname-box {
            .user-profile-nickname {
              text-wrap: nowrap;
              font-size: 0.9rem;
              font-family: -apple-system, BlinkMacSystemFont,
                "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", arial, 굴림,
                Gulim, sans-serif;
              color: gray;
              overflow: hidden;
              text-overflow: ellipsis;
              display: block;
            }
          }
        }
      }
    }
    .post-at {
      display: flex;
      justify-content: center;
      width: 100px;
    }
    .post-view {
      display: flex;
      justify-content: center;
      width: 94px;
    }
    .post-like {
      display: flex;
      justify-content: center;
      width: 43px;
    }
    .post-comment {
      display: flex;
      justify-content: center;
      width: 80px;
    }
  }
}
.none-post-box {
  padding: 1rem;
  margin: 0.5rem;
  background: #f4f4f4;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  div {
    color: #413f3fb9;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #413f3fb9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
  }
  p {
    color: #413f3fb9;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.post-start {
  display: flex;
  margin-left: 5px;
  width: 100%;
  justify-content: flex-start;
  span {
    display: block;
    align-self: center;
  }
  .post-ather {
    color: #333;
    font-size: 0.6rem;
    margin-right: 10px;
  }
}
.selected-channel-post {
  background-color: #acacac;
}

.announcement-post,
.none-announcement-post {
  background-color: #dfdfdf;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 0;
  border-bottom: 0.5px solid #acacac;
  .none-announcement-text {
    padding: 0.2rem;
    padding-left: 110px;
    text-wrap: nowrap;
    font-size: 0.9rem;
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
      "Malgun Gothic", "맑은 고딕", arial, 굴림, Gulim, sans-serif;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
