.push-list-box {
  top: 70px;
  right: 6px;
  position: fixed;
}
.push-box,
.push-box-remove {
  display: flex;
  padding: 5px;
  border-radius: 3px;
  background-color: #dddddd;
  margin-bottom: 3px;
  justify-content: space-between;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Malgun Gothic", "맑은 고딕", arial, 굴림, Gulim, sans-serif;
  a,
  p {
    display: flex;
    justify-content: space-between;
    margin-left: 0.3rem;
    text-wrap: nowrap;
    font-size: 0.9rem;
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
      "Malgun Gothic", "맑은 고딕", arial, 굴림, Gulim, sans-serif;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    span {
      margin-left: 8px;
    }
  }
  svg {
    cursor: pointer;
    margin-left: 5px;

    color: black;
  }
}
.push-box-remove {
  justify-content: center;
  color: gray;
  cursor: pointer;
  &:hover {
    background-color: #c5c5c5;
  }
}
