.push-list-box {
  top: 70px;
  position: fixed;
}
.push-box {
  display: flex;
  background-color: #dddddd;
  margin-bottom: 3px;
  justify-content: space-between;
  align-items: center;
  a,
  p {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-left: 0.3rem;
    text-wrap: nowrap;
    font-size: 0.9rem;
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
      "Malgun Gothic", "맑은 고딕", arial, 굴림, Gulim, sans-serif;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }
  button {
    background-color: antiquewhite;
  }
}
