@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.main-box {
  flex-direction: column;
  padding-top: 150px;

  #register-box {
    height: 800px;
    padding: 50px;
    width: 1200px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .register-header {
      align-self: center;
      h1 {
        font-size: 3rem;
        font-weight: bold;
        align-self: center;
        margin: 15px;
      }
    }
    .register-main-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    #first-list {
      border-top: 1px solid #cdcdcd;
    }
    .register-list {
      display: flex;
      align-items: flex-start;
      .register-list-left {
        align-self: center;
        width: 130px;
        text-wrap: nowrap;
        padding: 5px;
        margin-right: 10px;
        border-right: 1px solid #cdcdcd;
      }
    }
    .register-main {
      display: flex;
      flex-direction: column;
      .submit-span {
        height: 20px;
        color: red;
        border-bottom: 1px solid #cdcdcd;
      }

      .register-input-box {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .input {
          padding-left: 10px;
        }

        .register-input-text {
          padding: 8px;
          width: 500px;
        }
      }
      .text-div {
        margin: 5px;

        padding: 5px;
      }
    }
    #btn-box {
      align-self: center;
      width: 75%;
      display: flex;
      justify-content: space-between;
      padding: 5px;
      button {
        background-color: red;
        &:hover {
          background-color: #ff000086;
          color: white;
        }
      }
    }
  }
}
.submit-btn {
  margin-left: 10px;
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  background-color: black;
  color: white;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  &:hover {
    background-color: #000000ab;
    color: white;
  }
}
