.search {
  display: flex;
  align-items: center;
  justify-content: center;

  .search-input {
    padding: 5px;
    padding-left: 10px;
    margin: 5px;
    font-family: "Pretendard Variable";
    font-weight: 600;
    font-size: 0.9rem;
  }
  .search-select {
    padding: 5px;
    font-family: "Pretendard Variable";
    font-weight: 600;
    font-size: 0.9rem;
  }
  .search-btn {
    padding: 5px 8px;
    font-family: "Pretendard Variable";
    font-weight: 600;
    font-size: 0.9rem;
    background-color: black;
    color: white;
    border: none;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #444;
    }
  }
}
