.management-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid #cdcdcd;
  border-radius: 20px 20px 0px 0px;
  button {
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
  }
}

.title {
  padding: 20px;
  background-color: #d5d5d5;
  text-align: center;

  border-radius: 20px 20px 0px 0px;
}

.main-content {
  display: flex;
  flex-direction: row;
}
.main-content-left {
  display: flex;
  height: 400px;
  width: 10%;

  border-right: 0.5px solid #acacac;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  .left-content-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding: 20px;
    .management-user,
    .selected-management-user {
      display: flex;
      align-items: center;
      justify-content: center;
      text-wrap: nowrap;
      padding: 8px 4px;
      font-size: 0.9rem;
      border: none;
      border-radius: 20px;
      background-color: #d5d5d5;
      color: black;
      cursor: pointer;
    }
    .selected-management-user {
      color: white;
      background-color: black;
    }
  }
}
.all-user,
.admin-user,
.ban-user {
  padding: 10px;
}
.main-content-right {
  width: 90%;
  overflow-y: scroll;
  height: 400px;
  background-color: white;
}

table {
  border: 1px #a39485 solid;
  font-size: 1.3rem;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  overflow: hidden;
  thead {
    font-weight: bold;
    color: #fff;
    background: #73685d;
    text-align: center;
    tr {
      position: relative;
      background-color: black;
      line-height: 2;
      border-bottom: 0.5px solid #cdcdcd;
      th {
        line-height: 2;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 0.5px solid #cdcdcd;

      td {
        padding: 10px;
        background: #fff;
        text-align: center;
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.7;
      }
    }
  }
}

.btn:hover {
  background: #e76f00;
}

.search-form {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.search-user {
  width: 100%;
  height: 40px;
  padding-left: 15px;
}
.search-submit {
  width: 40px;
}

.input-box {
  display: flex;
  flex-direction: column;
}
.button-type {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    margin-bottom: 0px !important;
    margin: 10px;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
  }
}

.radio-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  padding: 10px;
}

.channelUpdate-authorization {
  font-size: 3rem;
  background-color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
}

.custom-th {
  width: 30px;
  padding-left: 10px;
}
.custom-nickname {
  width: 160px;
}
.custom-tag {
  width: 100px;
}

.management-link {
  tr {
    cursor: pointer;
  }
}
.custom-view {
  width: 60px;
}
.custom-comment {
  width: 60px;
}
.custom-time {
  width: 150px;
}
.custom-postTitle {
  text-align: left;
  padding-left: 30px;
}

.custom-userNickname {
  text-align: left;
  padding-left: 15px;
  padding-right: 5px;
}
.channel-update-footer {
  display: flex;
  margin-left: 109px;
  margin-top: 20px;
  button {
    width: 60px;
    height: 30px;
  }
}
.management-modal-box {
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;
  background-color: #ffffff;
  width: 400px;
  max-height: 400px;
  position: fixed;
  top: 25%;
  left: 40%;
  border-radius: 8px;
  padding: 20px;
  color: #7e8e9f;
  opacity: 1;
  z-index: 20;
  .management-modal-body {
    button {
      align-items: center;

      width: 90%;
      border-radius: 6px;
      border: 1px solid #f7f8f9;
      background-color: #d3d3d3;
      padding: 5px 8px;
      cursor: pointer;
      font-family: "Pretendard Variable";
      font-style: normal;
      font-weight: 600;
    }
  }

  .management-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
    .close {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 6px;
      border: 1px solid #f7f8f9;
      background-color: #f7f8f9;
    }
    h3 {
      font-weight: bold;
      font-size: 1.5rem;
      color: black;
    }
    .balance {
      width: 2rem;
      height: 2rem;
    }
  }
  .management-modal-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    .email-text {
      padding: 10px;
    }
    .input-box {
      width: 100%;
      .management-modal-input-text {
        padding-left: 0.5rem;
        font-family: "Pretendard Variable";
        font-weight: bold;
        border-radius: 6px;
        border: 1px solid #f7f8f9;
        width: 100%;
        height: 40px;
        background-color: #f7f8f9;
        margin: 0.5rem 0;
        &:focus {
          outline: none;
        }
      }
    }
    .email-box {
      display: flex;
      justify-content: space-between;
      width: 300px;
      height: 60px;
      align-items: center;
      .email-submit-btn {
        width: 50px;
        padding: 2px 5px;
      }
      .code-input {
        margin: 5px;
        width: 70%;
      }
    }
  }
  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    #register-message {
      color: red;
      span {
        margin-right: 0.3rem;
      }
    }
  }
}
.login-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.arther-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 50px;
  margin-bottom: 5px;
  .arther-login-btn {
    width: 150px;
    height: 40px;
    cursor: pointer;
    transition: filter 0.3s;
    &:hover {
      filter: brightness(0.9);
    }
  }
}
.userManagement-none-info {
  height: 326px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
}
// 비밀번호 변경시
.warning {
  color: red;
}
.no-warning {
  color: green;
}
