.user-profile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  cursor: pointer;
  .user-nickname-box {
    display: flex;
    justify-content: center;
    align-items: center;
    .user-profile-nickname {
      margin-left: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-weight: bold;
    }
  }
  .time-box {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-self: center;

    .time {
      font-weight: bold;
    }
  }
}
.user-profile-img {
  align-self: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border: 1px solid;
    cursor: pointer;
    background-color: beige;
  }
}
