.user-profile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  cursor: pointer;
  .user-nickname-box {
    display: flex;
    justify-content: center;
    align-items: center;
    .user-profile-nickname {
      margin-left: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-weight: bold;
    }
  }
  .time-box {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-self: center;

    .time {
      font-weight: bold;
    }
  }
}
.user-profile-img {
  align-self: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 50px;
  margin-top: -10px;
  border: 1px solid #e3e4e4;

  .user-accordion,
  .user-accordion2,
  .user-accordion3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-top: 1px solid #cdcdcd;
    box-shadow: 10px 10px 10px #e3e4e4;

    cursor: pointer;
    background-color: white;
    color: black;
    padding: 7px;
    font-family: "Pretendard Variable";
    &:hover {
      background-color: #e3e4e4;
    }
  }
  .user-accordion2 {
    justify-content: flex-start;
    padding-left: 45px;
  }
  .user-accordion3 {
    font-weight: bold;
    color: white;
    background-color: #000;
    &:hover {
      background-color: #000;
      color: red;
    }
  }
}
.profile-actions > .user-accordion:first-child {
  border: none;
}

.profile-actions > .user-accordion:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #cdcdcd;
}
