.management-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  button {
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
  }
}

.title {
  padding: 20px;
  background-color: #d5d5d5;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: row;
}
.main-content-left {
  display: flex;
  height: 400px;
  width: 10%;

  border-right: 0.5px solid #acacac;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  .left-content-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding: 20px;
    .management-user,
    .selected-management-user {
      display: flex;
      align-items: center;
      justify-content: center;
      text-wrap: nowrap;
      padding: 8px 4px;
      font-size: 0.9rem;
      border: none;
      border-radius: 20px;
      background-color: #d5d5d5;
      color: black;
      cursor: pointer;
    }
    .selected-management-user {
      color: white;
      background-color: black;
    }
  }
}
.all-user,
.admin-user,
.ban-user {
  padding: 10px;
}
.main-content-right {
  width: 90%;
  overflow-y: scroll;
  height: 400px;
}

table {
  border: 1px #a39485 solid;
  font-size: 1.3rem;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  overflow: hidden;
  thead {
    font-weight: bold;
    color: #fff;
    background: #73685d;
    text-align: center;
    tr {
      position: relative;
      background-color: black;
      line-height: 2;
      border-bottom: 0.5px solid #cdcdcd;
      th {
        line-height: 2;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 0.5px solid #cdcdcd;

      td {
        padding: 10px;
        background: #fff;
        text-align: center;
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.7;
      }
    }
  }
}

.btn:hover {
  background: #e76f00;
}

.search-form {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.search-user {
  width: 100%;
  height: 40px;
  padding-left: 15px;
}
.search-submit {
  width: 40px;
}

.input-box {
  display: flex;
  flex-direction: column;
}
.button-type {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    margin-bottom: 0px !important;
    margin: 10px;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
  }
}

.radio-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  padding: 10px;
}

.email-box {
  display: flex;

  justify-content: space-around;
  width: 320px;
  height: 60px;
  align-items: center;
}

.channelUpdate-authorization {
  font-size: 3rem;
  background-color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
}

.custom-th {
  width: 30px;
  padding-left: 10px;
}
.custom-nickname {
  width: 160px;
}
.custom-tag {
  width: 100px;
}

.management-link {
  tr {
    cursor: pointer;
  }
}
.custom-view {
  width: 60px;
}
.custom-comment {
  width: 60px;
}
.custom-time {
  width: 150px;
}
.custom-postTitle {
  text-align: left;
  padding-left: 30px;
}

.custom-userNickname {
  text-align: left;
  padding-left: 15px;
  padding-right: 5px;
}
.channel-update-footer {
  display: flex;
  margin-left: 109px;
  margin-top: 20px;
  button {
    width: 60px;
    height: 30px;
  }
}
